#if(${package})package ${package};#end

public class SQLIterator<T>
	implements CloseableIterator<T>
	{
	public SQLIterator()
		{
		
		}
	
	@Override
	public boolean hasNext()
		{
		return false;
		}
	@Override
	public T next()
		{
		return null;
		}
	@Override
	public void remove() {
		throw new UnsupportedOperationException("Cannot remove from "+getClass());
		}
		
	public void close()
		{
		
		}
	}

